<h1>HEY TERRANCE!</h1>
<p>Welcome to your starter pkg</p>
<p>This is using Ember-CLI-Simple-Store.  None of the cruft of brining along Ember Data.  Totally customized for us.</p>
<p>What this means is that we had to develop a frontend database that manages m2m and belongs_to relationships</p>
<p>We also have our own deserailizers (data coming in) and serializer (data going out) layer</p>
<p>Let us know if you have any questions.  This is just a real idea of what our full app does</p>

{{#link-to "tickets.index"}}Tickets{{/link-to}}
