{{#power-select
  selected=selectedAttr
  class=className
  tagName="div"
  search=(perform searchRepo)
  onchange=(action "selected")
  as |optionModel|
}}
  {{get optionModel displayName}}
{{/power-select}}

{{#if showMessage}}
<div class={{errorClass}}>
  {{t (v-get model valuePath 'message')}}
</div>
{{/if}}
